EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SENTRY_DSN=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_REF=
SUPABASE_DB_PASSWORD=
SENTRY_AUTH_TOKEN=
SUPERNOVA_GITHUB_OWNER=
SUPERNOVA_SUPABASE_REGION=
ALLOW_REMOTE_DB_PUSH=false
